<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
 <bean id="inetSocketAddress" class="java.net.InetSocketAddress">
    <constructor-arg index="0" value="192.168.8.37"/>
     <constructor-arg index="1" value="11211"/>
 </bean>
	<bean id="memcachedClient" class="net.spy.memcached.MemcachedClient">
        <constructor-arg index="0" ref="inetSocketAddress"/>
	</bean>
</beans>